<% if @comment.errors.any? %>
	<% messages = @comment.errors.messages.map { |key, msg| content_tag(:li, msg.first) }.join %>
	<% html = "<div id=comment-message><h4>Виправте наступну помилку:</h4><ul>#{messages}</ul></div>" %>
	$('#modal-comment-message-block').html('<%= html.html_safe %>');
<% end %>	