		<div id="modal-category">
			<div id="modal-category-content">
				<div id="close">x</div>
				<h2>Редагувати категорію "<span id="modal-category-name"></span>"</h2>
				<form action="" method="post" data-remote="true" id="modal-category-form">
					<div id="container-errors"></div>
					<input type="text" class="form-control" name="category[name]" id="modal_category_name">
					<input type="submit" class="btn btn-primary" name="commit" value="Змінити">
				</form>	
			</div>
		</div>